@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@400;600&display=swap");
@import "../scss/_helpers";
@import "../scss/compontents";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj", "sans-serif";
}
body {
  background-color: rgba($bg-color-2, 0.35);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* start header */

header {
  .container {
    /* start nav */
    nav {
      @include flex();
      padding: 40px 0;
      #check {
        display: none;
        &:checked ~ ul{
            right:0;
        }
      }
      label {
        font-size: 40px;
        display: none;
        z-index: 100;
        @media screen and (max-width: 990px) {
          display: block;
          
        }
      }
      ul {
        transition: 0.3s;
        @media screen and (max-width: 990px) {
          position: fixed;
          top:0;
          z-index: 99;
          right:-100%;     
          width:100%;
          height: 100vh;
          background-color: rgba($main-color,.8);
          flex-direction: column;
          justify-content: center;
          flex-wrap:nowrap;
          padding:200px 0;
        }
        @include flex($gap: 20px);
        font-size: 20px;
        li {
          
          p {
            font-size: 20px;
            cursor: pointer;
            i {
              margin-right: 10px;
            }
          }
        }

        a {
          color: $dark-color;
          font-size: 20px;
          transition: color 0.3s;
          @media screen and (max-width: 990px){
            color: white;
          }
          &:hover {
            color: $main-color;
          }
        }
      }
      ul.login {
        @media screen and (max-width: 990px) {
          display: none;
        }
        @include flex($gap: 45px);

        li:last-child {
          .circle {
            @include flex($justify: center);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $bg-color;
          }
        }
      }
    }

    /*end nav */
    .hero-section {
      padding: 75px 175px 75px 0;
      background-color: $bg-color;
      position: relative;
      @include flex($justify: flex-start);
      @media screen and (max-width: 990px) {
        padding-left: 30px;
      }
      @media screen and (max-width: 767px) {
        padding-right: 30px;
      }
      & > img {
        margin-bottom: -200px;
        @media screen and (max-width: 990px) {
          display: none;
        }
      }
      .content {
        flex: 1 1 400px;
        form {
          @include flex($justify: flex-start);

          button {
            height: 62px;
          }
          .main-btn {
            width: 208px;
          }
          .secondary-btn {
            width: 140px;
            line-height: 70px;
          }
        }
      }
      & > form {
        position: absolute;
        bottom: 0;
        right: 30px;
        transform: translateY(50%);
        button {
          width: 60px;
          height: 60px;
          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}
/* end header */

main {
  /* start section sales */
  section.sales {
    margin: 185px 0 95px 0;
    .container {
      @include flex();
      .card {
        flex: 1 1 300px;
        background-color: white;
        padding: 20px;

        .card-bottom {
          @include flex();
          picture {
            flex: 1 1 200px;
            img {
              grid-column: 2 / 3;
              max-width: 100%;
            }
          }

          a {
            align-self: flex-start;
            margin-right: 50px;
          }
        }

        p {
          grid-column: 1 / span 2;
          max-width: 345px;
        }
      }
    }
  }
  /* end of section sales */

  /* start of section monthly deals */
  section.monthly-deals {
    .container {
      .wrapper {
        @include grid($width-item: 220px);
        justify-items: center;
        .deal {
          height: calc(100% - 40px - 30px);
          transition: 0.3s height;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
          &:hover {
            height: 100%;
          }
          &:hover form {
            transform: scaleY(1);
          }
          background-color: white;
          padding: 25px;
          img {
            max-width: 100%;
            margin-top: -50px;
          }
          p:first-of-type {
            margin: 20px 0;
          }
          p:last-of-type {
            margin: 10px 0;
            text-decoration: line-through;
            text-decoration-color: $main-color;
          }
          form {
            transform: scaleY(0);
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;
            margin-top: 30px;
            transform-origin: top center;
            transition: 0.1s transform;
            button {
              height: 40px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  /* the end of monthly deals section */

  /* start recent news section */
  section.recent-news {
    position: relative;
    margin: 100px 0;

    .container {
      .wrapper {
        @include flex();
        picture {
          flex: 1 1 350px;
          img {
            max-width: 100%;
          }
        }
        .content {
          h2 {
            max-width: 350px;
            margin: 25px 0 50px 0;
          }

          form {
            button {
              width: 150px;
              height: 58px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  /* end of recent news section */
  /* start section series */
  section.series {
    position: relative;
    .container {
      form {
        margin-top: 70px;
        position: relative;
        width: 100%;
        button {
          width: 270px;
          height: 66px;
          margin: auto;
          display: block;
          z-index: 5;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $dark-color;
          top: 50%;
          transform: translateY(-50%);
          z-index: -1;
        }
      }
    }
    .grid-container {
      @include grid();
      .wrapper {
        h2 {
          margin-bottom: 50px;
          span:last-child {
            border: none;
          }
        }
        .watch {
          .content {
            width: 170px;
            align-self: flex-start;
            p {
              text-decoration: line-through;
              text-decoration-color: $main-color;
            }
          }
          margin-bottom: 30px;
          @include flex($justify: flex-start, $wrap: no-wrap);
          picture.bg-watch {
            background-color: $bg-color;
            width: 130px;
            height: 130px;
            @include flex($justify: center);
          }
        }
      }
    }
  }
  /* end of section series */
  /* start section testimonial */
  section.testimonial {
    margin: 100px 0;
    position: relative;
    .bg {
      left: 0;
      width: 40%;
      height: 300px;
    }

    .wrapper {
      @include flex($align: flex-start);
      .content {
        order: 3;
        flex: 1 1 500px;
      }
      picture {
        margin-top: 50px;
        flex: 1 1 300px;
        img {
          max-width: 100%;
        }
      }
    }
    form {
      button {
        width: 50px;
        background-color: transparent;
        border: none;
        font-size: 24px;
      }
    }
  }
  /* the end of testimonial section */
  /* the start of the instagram section */

  section.gallery {
    .container {
      .wrapper {
        @include grid($width-item: 200px, $row-gap: 0, $column-gap: 0);
        picture {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  /* the end of the instagram section */
}
/* The Start of The Footer */
footer {
  margin-top: 75px;
  section.top {
    background-color: rgba($main-color, 0.8);
    .container {
      @include grid($width-item: 180px);
      justify-items: center;
      picture {
        img {
          max-width: 100%;
        }
      }
    }
  }
  section.bottom {
    padding: 50px 0 75px 0;
    background-color: $main-color;
    color: white;
    .container {
      .infos {
        .adress {
          margin: 10px 0 20px 0;
        }
      }
      h4 {
        margin-bottom: 20px;
      }
      h5 {
        margin-bottom: 10px;
      }
      @include flex($align: flex-start, $gap: 50px);
      & > * {
        flex: 1 1 200px;
      }
      .get-in-touch {
        div {
          @include flex();
        }
      }
      ul {
        flex: 1 1 150px;
        li {
          margin-bottom: 10px;
        }
        a {
          color: white;
        }
      }
    }
  }
}

/* The end of The Footer */
