@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@400;600&display=swap');
@import "../scss/_helpers";
@import "../scss/compontents";
@import "../scss/header\ &\ footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Taviraj" , "sans-serif";
}
body{
  background-color: rgba($bg-color-2 , 0.35);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

}
.row{
  @include flex();
}



/* start the main content */ 
main{
  .progress{
    padding: 75px 0;
    max-width: 725px;
    margin: auto;
    @include flex($wrap:no-wrap);
    a{
      color:rgba(black , 0.5);
      text-align: center;
      &:visited:active{
      color: $main-color;
      }
      i{
        font-size: 30px;
        display: block;
        margin-bottom: 20px;
      }
      
    }
  }
  .wrapper{
    @include flex($align:flex-start);
    & > div{
      background-color: white;
      padding: 50px 30px;
      flex: 1 1 300px;
      @media screen and (max-width : 767px){
        padding: 25px 10px;
      }
    }
    .detail-order{
      ul{
        padding: 50px 0;
        border-bottom: 1px solid black;
        li{
          margin-bottom: 10px;
          opacity: 0.7;
        }
      }
      .row{
        margin-top: 30px;
      }
    }
    .personal-info{
      .billing-address{
        form{
          margin: 50px 0;
          & > *{
            display: block;
            width: 100%;
          }
          input,select{
            margin-bottom: 20px;
            padding: 10px;
          }
          
        }
      }
      & > form{
        @include flex();
        & > *{
          flex: 1 1 200px;
          height: 60px;
          font-size: 20px;
        }
        
      }
    }
    
  }
}
/* the end of the main content */ 

