extends ../main page/index.pug
block styleLink
  block cartStyle
    link(rel="stylesheet", href="cart.css")
block hero
block mainContent
  main 
    .container
      .progress 
        a(href="cart.html") 
          i(class="fas fa-cart-plus")
          h5 1. checkout 
        a(href="payment.html")
          i(class="fas fa-money-check")
          h5 2. Payment 
        a(href="confermation.html")
          i(class="far fa-clipboard")
          h5 3. Confirmation
      .wrapper 
        .detail-order
          h2 Detail Order
          ul 
            li 
              .row #[h4 Subtotal] #[h4 Rp 2.152.000]
            li 
              .row #[h4 Shipping Cost] #[h4 Rp 500.000]
            li 
              .row #[h4 Promo Code] #[h4 INDONESIA]
            li 
              .row #[h4 Packaging] #[h4 Rp 50.000]
          
          .row #[h4 Grand Total] #[h2 Rp 2.702.000]
        block cartContent
          .personal-info
            .billing-address
              h2 Billing Address
              form 
                label Full Name 
                input(type="text", name="" placeholder="Ex: Rasyidin Arsyad Nasution")
                label Email Adress
                input(type="text", name="" placeholder="Ex: rasyid.arsyad@gmail.com")
                label Phone Number 
                input(type="text" placeholder="Ex: 089111888999")
                label Shipping Adress 
                input(type="text" placeholder="Ex: Patriot Street Number 666, Ngaklik, Sleman")
                label Country 
                select(id="country")
                  option(value="usa") USA 
                  option(value="canada") Canada 
                  option(value="algeria") Algeria 
                label State/Province 
                select(id="state")
                  option(value="cal") california 
                  option(value="ny") new york 
                  option(value="verginia") verginia 
                .row
                  .city 
                    label city 
                    select(id="city")
                      option(value="cal") san francisco
                  .zip-code 
                    label Zip Code 
                    input(type="text", name="" placeholder="Ex: 94024")
                label Choose Courier
                select(id="courier")
                  option(value="dhl") DHL 
                  option(value="fedex") Fedex 
            form 
              button.secondary-btn Continue Shopping
              button.main-btn Place My Order
           
          

  

